<%= form_with(model: pay_slip, local: true) do |form| %>
  <% if pay_slip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pay_slip.errors.count, "error") %> prohibited this pay_slip from being saved:</h2>

      <ul>
      <% pay_slip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :slip_no %>
    <%= form.text_field :slip_no, id: :pay_slip_slip_no %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pay_slip_name %>
  </div>

  <div class="field">
    <%= form.label :income %>
    <%= form.text_field :income, id: :pay_slip_income %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
